TileDownloader/.idea/*
*.jpg
test_set_images/*
training/*
TileDownloader/groundtruth/*
TileDownloader/images/*
predictions_training/*
predictions_training_post/*
test_set_images_bak/*
test_predictions/*
test_predictions_post/*
.idea/*
__pycache__/*
runs.txt
test_predictions_post/*
model_save/*
